# Dependencies
node_modules/
**/node_modules/

# Build folders
dist/
**/dist/

# SQLite database files
data/
**/data/
*.db
*.db-journal
*.sqlite
*.sqlite3

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# IDE/system files
.idea/
.vscode/
.DS_Store