@font-face{
    font-family: Montserrat-Regular;
    src: url(Montserrat-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: Montserrat-Regular;
    font-size: 17px;
}

h1{
    margin-bottom: 10px;
    font-size: 28px;
}

h2 {
    margin-top: 3px;
    margin-bottom: 15px;
}

body {
    margin: 30px;
}

.layout {
    display: flex;
    gap: 60px;
}

section {
    flex: 1;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
}

textarea {
    min-height: 60px;
    resize: vertical;
}

button {
    cursor: pointer;
    padding: 13px 50px;
    border-radius: 5px;
    background: #263238;
    color: #ffffff;
    margin-right: 5px;
    border: none;
    margin-top: 5px;
}

button:hover {
    background: #333f45;
}

button:disabled {
    background: #9e9e9e;
    cursor: not-allowed;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px;
}

.actions-col {
    width: 110px;
    text-align: center;
}

.delete-btn {
    padding: 6px 12px;
    font-size: 14px;
    background: #d32f2f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #b71c1c;
}


.error {
    color: red;
    font-size: 12px;
    min-height: 12px;
    margin-bottom: 2px;
}

.invalid {
    border: 1px solid red;
}

